* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}
body {
  padding: 0 80px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.menu {
  width: 35px;
}
.title {
  font-weight: 100;
  width: 200px;
  border: 1px solid red;
}
.descri {
  font-family: Poppins;
  border: 1px solid red;
  width: 342px;
}
.dere {
  border: 1px solid blue;
}

.boton div {
  width: 2pc;
  height: 2pc;
  border-radius: 50%;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boton div div {
  background-color: blue;
  width: 1.2pc;
  height: 1.2pc;
}
.containerIz {
  display: flex;
  flex-direction: column;
  gap: 1pc;
}
.botons {
  border-radius: 9px;
  background: #694604;
  color: white;
  padding: 10px 21px;
  border: none;
  font-weight: bold;
}
.centrar {
  display: flex;
  align-items: center;
  gap: 1pc;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dere {
  display: flex;
  flex-direction: column;
  gap: 1pc;
  align-items: center;
}
.titl {
  font-size: 2pc;
  font-weight: bold;
}
.add {
  background: #694604;
  font-size: 2pc;
  text-align: center;
  color: white;
  border-radius: 50%;
  border: none;
  width: 2.2pc;
  height: 2.2pc;
}
.fondo {
  width: 47pc;
  height: 77pc;
  background: #694604;
  border-radius: 50%;
  position: absolute;
  top: -20pc;
  right: -18pc;
  z-index: -9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondo div {
  width: 37pc;
  height: 67pc;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondo div div {
  width: 27pc;
  height: 59pc;
  background-color: white;
  border-radius: 50%;
}
.btn {
  border: 1px solid transparent;
}
.btn:nth-child(1) div {
  background-color: #694604;
}
.btn:nth-child(2) div {
  background-color: #34363b;
}
.btn:nth-child(3) div {
  background-color: #98926d;
}
.btn:nth-child(4) div {
  background-color: #2b461a;
}
#mueble{
    position: absolute;
    width: 30pc;
}
